#!/bin/sh

username={{ uusername }}
password={{ upassword }}

mkdir /home/$username/.vnc
echo ${password} | vncpasswd -f > /home/${username}/.vnc/passwd
chmod 600 /home/${username}/.vnc/passwd
chown -R ${username}:${username} /home/${username}/.vnc
